.dialog-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 16px 24px;
}

.dialog-content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.inventory-select-field {
  width: 100%;
}
