    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active-link">
        <mat-icon matListItemIcon>dashboard</mat-icon>
        <span matListItemTitle>Dashboard</span>
      </a>
      <a mat-list-item routerLink="/playbooks" routerLinkActive="active-link">
        <mat-icon matListItemIcon>library_books</mat-icon>
        <span matListItemTitle>Playbooks</span>
      </a>
      <a mat-list-item routerLink="/organizations" routerLinkActive="active-link">
        <mat-icon matListItemIcon>business</mat-icon>
        <span matListItemTitle>Organizations</span>
      </a>
      <a mat-list-item routerLink="/inventory" routerLinkActive="active-link">
        <mat-icon matListItemIcon>dns</mat-icon>
        <span matListItemTitle>Inventory</span>
      </a>
    </mat-nav-list>
